################################################################################
# Ten plik .gitignore zosta³ utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/
