################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
[Rr]elease/
x64/
[Bb]in/
.suo
/Projekt0/.vs
/Projekt0/.idea

