################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
[Rr]elease/
[Dd]ebug
x64/
[Bb]in/
[Oo]bj/
.suo
/Projekt0/.vs
/Projekt0/.idea
!/Projekt0/.Debug/netstandard2.1/Logika.AssemblyInfo.cs
